.admin-container {
    width: 100vw;
    display: flex;
}
.main-content {
    width: 80%;
    height: 100vh;
    transition: margin-left 0.3s ease;
}
    .main-content.expanded {
        width:100%;
    }

    